div.my-footer {
    border-top: 1px solid #ccc;
    font-size: 10pt;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
}

div.my-footer p {
    margin-top: 10px;
    height: 30px;
}

div.my-footer img {
	height: 30px;
	bottom: 0px;
	left: 0px;
	position: fixed;
}
